<pg-container>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent bg-white">
            <div class="card-header ">
                <div class="card-title">
                    <i class="pg-icon">edit</i> Posts
                </div>
                <button routerLink="/base/post/new" class="btn btn-default btn-rounded pull-right">Add</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <ngx-datatable class='table table-hover' [rows]="posts" [columnMode]="columnModeSetting"
                                   [headerHeight]="43" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected"
                                   [selectionType]="'checkbox'" [scrollbarH]="scrollBarHorizontal" (activate)="onActivate($event)"
                                   (select)='onSelect($event)'>
                        <ngx-datatable-column [width]="45" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                              [resizeable]="false" cellClass="d-flex align-items-center p-l-0 p-r-0">
                            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                                         let-selectFn="selectFn">
                                <button class="btn btn-sm btn-link btn-icon">
                                    <i class="pg-icon">trash_alt</i>
                                </button>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value"
                                         let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <div class="form-check d-flex align-items-center justify-content-center">
                                    <input type="checkbox" value="1" id="checkbox_1{{rowIndex}}" [checked]="isSelected"
                                           (change)="onCheckboxChangeFn($event)">
                                    <label for="checkbox_1{{rowIndex}}" class="no-padding no-margin"></label>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="postTitle" cellClass="d-flex align-items-center"></ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <span>
                                <button class="btn btn-outline-secondary" routerLink="/base/post/{{row.id}}"> <i class="pg-icon">edit</i></button> &nbsp;
                                <button class="btn btn-outline-danger" class="btn"> <i class="pg-icon">trash_alt</i></button>
                              </span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
        </div>

    </div>
</pg-container>
