<div class="col-md-10 col-xlg-offset-1">
    <div class="card card-transparent">
        <div class="card-header">
            <div class="card-title">Dashboard</div>
        </div>
        <div class="m-0 row card-body">
            <div class="col-lg-4 no-padding">
                <div class="p-r-30">
                    <h3>Summary</h3>
                    <br>
                    <p>On this site, I share my personal experiences of software and daily life.</p>
                    <div class="inline">
                        <img width="80" height="80" src2x="assets/img/profiles/avatar_small2x.jpg" pgRetina src1x="assets/img/profiles/avatar_small.jpg" alt="" src="assets/img/profiles/avatar_small2x.jpg">
                    </div>
                    <div class="inline m-l-10">
                        <p class="small hint-text m-t-5">Özgür Akıncı <br>Senior Software Specialist <br/> mail@ozgurakinci.com.tr</p>
                    </div>
                </div> <hr/>
                <div class="p-r-30">
                    <h3>Download CV</h3>
                    <p>You can download my current resume from the link below or read it in html format by clicking here.</p>
                    <br>
                    <p><a href="#" class="btn btn-primary">Download CV</a></p>
                </div>
                <div>

                </div>
            </div>

            <div class="col-lg-8 sm-no-padding">
                <pgcard>
                    <ng-template #CardTitle>Posts</ng-template>
                    <h3><span class="semi-bold">Advance Tools</span></h3>
                    <p>We have crafted Pages Cards to suit any use case. Add a maximize button <i class="pg pg-fullscreen"></i> into your Cards controls bar to make the Cards go full-screen. This will come handy if you want to show lot of content inside a Cards and want to give the content some room to breath</p>
                    <button type="button" class="btn btn-info">Read More..</button>
                </pgcard>

                <pgcard>
                    <ng-template #CardTitle>Posts</ng-template>
                    <h3><span class="semi-bold">Advance Tools</span></h3>
                    <p>We have crafted Pages Cards to suit any use case. Add a maximize button <i class="pg pg-fullscreen"></i> into your Cards controls bar to make the Cards go full-screen. This will come handy if you want to show lot of content inside a Cards and want to give the content some room to breath</p>
                    <button type="button" class="btn btn-info">Read More..</button>
                </pgcard>

                <pgcard>
                    <ng-template #CardTitle>Posts</ng-template>
                    <h3><span class="semi-bold">Advance Tools</span></h3>
                    <p>We have crafted Pages Cards to suit any use case. Add a maximize button <i class="pg pg-fullscreen"></i> into your Cards controls bar to make the Cards go full-screen. This will come handy if you want to show lot of content inside a Cards and want to give the content some room to breath</p>
                    <button type="button" class="btn btn-info">Read More..</button>
                </pgcard>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


