<div class="col-md-10 col-xlg-offset-1">
    <div class="card card-transparent">
        <div class="m-0 row card-body">
           <!-- <div class="col-lg-4 no-padding">
                <div class="p-r-30">
                    <h3>Summary</h3>
                    <br>
                    <p>On this site, I share my personal experiences of software and daily life.</p>
                    <div class="inline">
                        <img width="80" height="80" src2x="assets/img/profiles/avatar_small2x.jpg" pgRetina src1x="assets/img/profiles/avatar_small.jpg" alt="" src="assets/img/profiles/avatar_small2x.jpg">
                    </div>
                    <div class="inline m-l-10">
                        <p class="small hint-text m-t-5">Özgür Akıncı <br>Senior Software Specialist <br/> mail@ozgurakinci.com.tr</p>
                    </div>
                </div> <hr/>
                <div class="p-r-30">
                    <h3>Download CV</h3>
                    <p>You can download my current resume from the link below or read it in html format by clicking <a href="#">here</a>.</p>
                    <br>
                </div>
                <div>

                </div>
            </div>-->



            <div class="col-lg-8 sm-no-padding col-xlg-offset-2">
                <section class="col-lg-12">
                    <div class="card social-card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header clearfix">
                            <h5>I'm getting ready.</h5>
                        </div>
                        <div class="card-description">
                            <p>My posts will be here shortly..</p>
                        </div>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


